/* @the 1200px grid
********************************************************************************************
********************************************************************************************/

.container {
width: 100%;
max-width: 1120px;
margin: 0 auto;
padding:0 0;
position:relative;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-left:0;
float: left;
min-height: 1px;
overflow:hidden;
}

.fourcol {
width: 28%;
padding-right:0;
padding-left:3%;
float:left;
}

.threecol {
width: 22.7%;
padding:0;
margin:0 0 0 3%;
float:left;
margin-bottom:20px;
overflow:hidden;
}

.specfifthcol {
width: 37.6%;
}

.specfifthcol_last{ width:20%}

.eightcol {
width: 70%;
padding-right:0;
padding-left:0;
float:left;
}

.sixcol {
width: 50%;
}

.twelvecol {
width: 90%;
float: left;
}



.first {
margin-left: 0px;
}

object, embed {
max-width: 100%;
}



img {
	height: auto;
}

/* iPad Landscape */

@media screen and (max-width: 1181px){

#sidebar{ padding-right:20px; max-width:none;}

.tab-container,
.twins_alt,
.fblock img{ width:100% !important;}

.archivepost li{height:180px;}

	
}


/* iPad Portrait */

@media screen and (max-width: 770px){

.shadow-inset2{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#sidebar{ width:25%;}

.tab-post h3{ font-size:10px !important;}

.flickwrap img{ width:64px;}

.comment-form-author,
.comment-form-email,
.comment-form-url{ margin-right:10px !important;}

#footer .flickwrap img {width:68px;}

.fblock img{ width:100% !important;}

.archivepost li{height:135px;}

}


/* Mobile */

@media handheld, only screen and (max-width: 740px) {

body {
font-size: 18px;
-webkit-text-size-adjust: none;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol,
#sidebar,#homecontent,.homecontent_alt,#singlecontent,#homeright,.headad
.tabitem
 {
width: auto;
float: none !important;
padding-left: 0;
padding-right: 0;
margin-left: 0;
margin-right: 0;
}

#content,
#footer{ width:100% !important;}

#sidebar,
#footer{ width:100%; max-width:300px; display:block; float:none; margin:30px auto;}

#footer .threecol{ width:100% !important; margin-bottom:30px;}

#content_bg{ display:none;}

#header{width:70%;}

#header h1,
#header h1.absol{ position:relative; margin:30px 0 30px 10%;}


a#navtrigger{ display:block;}

#navigation{ display:none; width:100%;}

.nav{ width:100%; margin:0 0 0 0;}

.nav>li,
.nav>li:first-child{ width:90%; padding:0 5% !important; border-bottom:1px dotted #ddd; text-align:center;}

.nav>li:last-child{border-bottom:none;}

.nav>li>a{ padding:15px 0 !important; background:none}

.nav li ul{ width:90%;}


.tab img {margin: -5px 0;}

ul#serinfo {
position: relative;
}

.post iframe{ width:100%;}

#copyright{ padding:0 5%;}

.scrollTo_top,
.top-rating{ display:none !important; visibility:hidden !important;}

.tabitem iframe, .tabitem img{ max-width:100%;}

.related li a img{width:100%;}

}


@media only screen and (max-width: 660px) {
	

.scrollTo_top{ visibility:hidden; display:none}

.centerrow .centerthreecol img{ width:auto;}

.tmnf-sc-quote.left,
.tmnf-sc-quote.right{ width:100%; float:none; margin-left:0; margin-right:0}


.contact-form .forms textarea,
.contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

.contact-form .forms label{ margin-bottom:10px}

.contact-form .forms .buttons .submit,
.contact-form .forms input#sendCopy{ margin-left:0;}

a.trigger{ display:none;}


.twocol-one,.threecol-one,.threecol-two,.fourcol-one,.fourcol-two,.fourcol-three,.fivecol-one,.fivecol-two,.fivecol-three,.fivecol-four,.sixcol-one,.sixcol-two,.sixcol-three,.sixcol-four,.sixcol-five{ width:100% !important;}

img.alignleft,
img.alignright,
img.aligncenter,
.wp-caption,
.wp-caption img{ width:100%; margin:5px 0 30px 0;}

} 



@media only screen and (max-width: 490px) {

#header h1 img{ width:100%;}

.archivepost .ribbon,.archivepost .ribbon_icon{ display:none;}

.ratingblock{ width:87%; padding:30px 6% 15px 6%}

.comment-form-author, .comment-form-email, .comment-form-url{ width:100%;}

#respond textarea{ width:90%}

ul.ad125,ul.ad125 li{ margin:4px !important;}

.flickwrap{ width:110%;}

.archivepost li{width:45%;margin:0 5% 15px 0;}

h2.upperfont{ font-size:35px;}

.post iframe{height:330px;}

}

@media only screen and (max-width: 390px) {

.post iframe{height:260px;}
	
}